
.end {
    background: #fff;
    z-index: 100;
    list-style: none;
    padding: 0;
}
end:after, .end:before {
    content: " ";
    display: table;
}
.end-header {
border-bottom: 1px solid #f2f2f2;
}
.end-inner {
    flex-wrap: wrap;
    display: flex
}
